<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsd.homework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeWork">
        <activity
            android:name=".hw19.HW19Activity"
            android:exported="false" />
        <activity
            android:name=".hw18.HW18Activity"
            android:exported="false" />
        <activity
            android:name=".HW17Activity"
            android:exported="false" />
        <activity
            android:name=".HW16Activity"
            android:exported="false" />
        <activity
            android:name=".HW15Activity"
            android:exported="false" />
        <activity
            android:name=".HW14Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>